{% extends "layout.html" %}

{% block title %}Blog Archive{% endblock %}
{% block main_title %}Blog archive{% endblock %}
{% block description %}{% endblock %}
{% block main_description %}{% endblock %}

{% block body %}
    {%- for entry in archive %}
        <div class="featurette">
            <h2 class="featurette-heading">
                <a href="{{ link_to('blog_archive', year=entry.year) }}">{{ entry.year }}</a>
            </h2>
            <ul>
            {%- for subentry in entry.months %}
                <li><a href="{{ link_to('blog_archive', year=entry.year,
                                        month=subentry.month) }}">{{ subentry.month_name }}</a>
                — {{ subentry.count }} {{ 'entry' if subentry.count == 1 else 'entries' }}
            {%- endfor %}
            </ul>
        </div>
        <hr class="featurette-divider">
    {%- endfor %}
{% endblock %}
