{% extends "layout.html" %}

{% block body %}
    {%- for entry in pagination.get_slice() %}
        <div class="featurette">
            <h2 class="featurette-heading">
                <a href="{{ link_to('page', slug=entry.slug) }}">{{ entry.title }}</a>
            </h2>
            {% if entry.summary %}
                <div class="row">
                    <blockquote class="pull-right">
                        <p class="lead">{{ entry.summary }}</p>
                    </blockquote>
                </div>
            {% endif %}
            <p class="right">
                {{ format_date(entry.pub_date, format='medium') }},
                <a title="{{ entry.title }}" href="{{ link_to('page', slug=entry.slug) }}">permalink</a>
            </p>
            <p class="right">
                {% if entry.tags %}
                    <strong>Tags: </strong></li>
                    {% for tag in entry.tags|sort(case_sensitive=true) %}
                         <span class="label"><a href="{{ link_to('tag', tag=tag) }}">{{ tag }}</a></span>
                    {% endfor %}
                {% endif %}
            </p>
        </div>
        <hr class="featurette-divider">
    {% endfor %}

    {% if show_pagination and pagination.pages > 1 %}
        {{ pagination }}
    {% endif %}
{% endblock %}
