{% extends "layout.html" %}

{% block title %}Blog Archive for {{ entry.month_name}}, {{ entry.year }}{% endblock %}
{% block main_title %}
    Blog <a href="{{ link_to('blog_archive') }}">Archive</a> for {{ entry.month_name }},
    <a href="{{ link_to('blog_archive', year=entry.year) }}">{{ entry.year }}</a>
{% endblock %}
{% block description %}{% endblock %}
{% block main_description %}{% endblock %}

{% block body %}
    {%- for entry in entry.entries %}
        <div class="featurette">
            <h2 class="featurette-heading">
                <a href="{{ link_to('page', slug=entry.slug) }}">{{ entry.title }}</a>
            </h2>
            {% if entry.summary %}
                <div class="row">
                    <blockquote class="pull-right">
                        <p class="lead">{{ entry.summary }}</p>
                    </blockquote>
                </div>
            {% endif %}
            <p class="right">
                {%- if entry.pub_date %}
                    {{ format_date(entry.pub_date, format='long') }}
                {% endif %}
                <a title="{{ entry.title }}" href="{{ link_to('page', slug=entry.slug) }}">permalink</a>
            </p>
            <p class="right">
                {% if entry.tags %}
                    <strong>Tags: </strong></li>
                    {% for tag in entry.tags|sort(case_sensitive=true) %}
                         <span class="label"><a href="{{ link_to('tag', tag=tag) }}">{{ tag }}</a></span>
                    {% endfor %}
                {% endif %}
            </p>
        </div>
        <hr class="featurette-divider">
    {%- endfor %}
{% endblock %}
