{% extends "layout.html" %}

{% block title %}Blog Archive for {{ entry.year }}{% endblock %}
{% block main_title %}
    Blog <a href="{{ link_to('blog_archive') }}">Archive</a> for {{ entry.year }}
{% endblock %}
{% block description %}{% endblock %}
{% block main_description %}{% endblock %}

{% block body %}
    {%- for subentry in entry.months %}
        <div class="featurette">
            <h2 class="featurette-heading">
                <a href="{{ link_to('blog_archive', year=entry.year, month=subentry.month) }}">{{ subentry.month_name }}</a>
                <span class="muted">{{ subentry.count }} {{ 'entry' if subentry.count == 1 else 'entries' }}</span>
            </h2>
        </div>
        <hr class="featurette-divider">
    {%- endfor %}
{% endblock %}
